@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    margin: 0;
    padding: 0;
    font-family: nunito;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#smooth-scroll-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  